<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>FutManager</title>
</head>
<body>
    <!-- --------------------HEADER------------------ -->
        
    <header>
        <%- include("parcial/head.ejs")%>
        
    </header>   
            
        
 <div class="h4noticia">
    <h4>Últimas noticias</h4>
    </div>
        <main>
            <section class="knowledge">
                <div class="knowledge__container container">
                    <div class="knowledege__texts">
                        <h2 class="subtitle">¡Robert Lewandowski ha sido fichado por el FC Barcelona!</h2>
                        <p class="knowledge__paragraph">Recibido por todos con entusiasmo porque es un futbolista que garantiza gol, Bota de Oro en las dos últimas ediciones europeas y autor de 344 goles en 375 partidos con la camiseta del Bayern. “Es el fichaje más importante a nivel mediático.</p>
                       <a href="#" class="cta">Entra al curso</a>  --> -->
                    </div> -->
    
                    <figure class="knowledge__picture">
                        <img src="./images/lewan.jpg" class="knowledge__img">

                    </figure>
                </div>
            </section>

            <section class="container about">
                <h2 class="subtitle">Clubes que estan trabajando en nuestro centro de entrenamiento</h2>
        
                <div class="about__main">
                    <article class="about__icons">
                        <img src="./images/barca.svg" class="about__icon">
                        <h3 class="about__title">FC Barcelona</h3>
                        <p class="about__paragraph">El ojeador del FC Barcelona se encuentra trabajando en nuestro centro de entrenamiento</p>
                            <ul>
                            <p>En busca de:</p>
                            <li type="square">Mediocampista ofensivo</li>
                            <li type="square">Un delantero</li>
                            <li type="square">Lateral derecho</li>
                            </ul>
                    </article>
    
                    <article class="about__icons">
                        <img src="./images/manchester.svg" class="about__icon">
                        <h3 class="about__title">Manchester United</h3>
                        <p class="about__paragraph">El ojeador del Manchester United se encuentra trabajando en nuestro centro de entrenamiento</p>
                        
                        <ul>
                            <p>En busca de:</p>
                            <li type="square">Mediocampista central</li>
                            <li type="square">Un portero</li>
                            <li type="square">Lateral izquierdo</li>
                        </ul>
                    </article>
    
                    <article class="about__icons">
                        <img src="./images/real.svg" class="about__icon">
                        <h3 class="about__title">Real Madrid</h3>
                        <p class="about__paragraph">El ojeador del Real Madrid se encuentra trabajando en nuestro centro de entrenamiento</p>
                            <ul>
                            <p>En busca de:</p>
                            <li type="square">Mediocampista defensivo</li>
                            <li type="square">Un lateral derecho</li>
                            <li type="square">Un defensor central</li>
                            </ul>
                    </article>
                </div>
            </section>

            <section class="knowledge2">
                <div class="knowledge__container2 container">
                    <div class="knowledege__texts2">
                        <h2 class="subtitle">¡Paul Pogba vuelve a desembarcar en la Juventus!</h2>
                        <p class="knowledge__paragraph2">Es oficial. El francés Pogba regresa como agente libre a la Vecchia Signora, con la que firmó hasta 2026. Rechazó las propuestas del PSG. La increíble historia entre Paul Pogba y la Juventus arranca hoy su nuevo capítulo.</p>
                       <!--- <a href="#" class="cta">Entra al curso</a>  -->
                    </div>
                    
                    <figure class="knowledge__picture2">
                        <img src="./images/pogba3.jpg" class="knowledge__img2">

                    </figure>
                </div>
            </section>

        </main>
       <!-- ---------------------FOOTER--------------------------- -->
  <!-- <footer> -->
     <%- include("parcial/footer.ejs")%>
        <!-- <div id="footer1">
                     <h3>Sponsors Oficiales</h3>
         <div id="sponsor">
     
               
            <a href="https://www.bbva.com.ar/" target="_blank"><p><img src="/images/bbva.png" width="120px" height="50px" alt="bbva" ></p>
            <a href="https://www.gatorade.com/" target="_blank"><p><img src="/images/gatorade.png" width="180px" height="50px"  alt="gatorade" ></p>
            <a href="https://www.adidas.com.ar/" target="_blank"><p><img src="/images/adidas.png" width="110px" height="80px" alt="adidas" ></p>
            <a href="https://www.qatarairways.com/" target="_blank"><p><img src="/images/qatar2.png" width="150px" height="60px" alt="qatar" ></p>
               </div>
         </div>
       </footer>

       <footer>
        <div id="footer"> 
         <div id="redes">
              <a href="/"><img src="/images/futmanager_logo.png" width="120px" alt="Logo"></a>    
               
            <a href="https://www.instagram.com/" target="_blank"><p><img src="/images/instagram.png" width="20px" height="20px" alt="Instagram" >Instagram</p>
            <a href="https://www.linkedin.com/" target="_blank"><p><img src="/images/linkedin.jpg" width="20px" height="20px"  alt="Linkedin" >Linkedin</p>
            <a href="https://www.facebook.com/" target="_blank"><p><img src="/images/facebook.png" width="20px" height="20px" alt="Facebook" >Facebook</p>
               </div>
         </div>
       </footer> -->
       </body>
</html>