<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>FutManager</title>
</head>
<body>
    <!-- --------------------HEADER------------------ -->
    <header>
        <%- include("parcial/head.ejs")%>
    <!-- <a href="/"><img src="/images/futmanager_logo.png" alt="Logo"></a>
    <div>
        <nav> 
            <a href="/">Inicio</a>
            <a href="/producto">Jugadores</a>
            <a href="/nosotros">Sobre Nosotros</a>
            <a href="/formulario">Registro</a>
            <a href="/login">Ingresar</a>  
        </nav>
    </div>
    <input class="navegador" type="text" > -->
    </header>
    <!-- -----------------------BODY------------------------- -->
    <main >
        <article  class="body">
            <div class="nosotros">
                <h1>Sobre Nosotros</h1>
               <p>
                - Somos un sitio enfocado en impulsar la carrera de futbolistas, dandoles mayor visibilidad y alcance para que puedan ser contratados por un club.
                <br>
                -Apuntamos a aquellos clubes que no se pueden trasladar fisicamente hacia todos los centros de entrenamientos, por eso somos la mejor opción online.
                <br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero numquam sapiente accusamus deserunt sed, dolorem corporis est illo tenetur, sit commodi voluptates beatae. Sapiente reprehenderit, perferendis fugiat laboriosam nisi aperiam!
                <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione deleniti qui quae quidem omnis optio distinctio minima itaque nesciunt, rem, veniam fuga harum delectus est alias? Est animi corrupti quibusdam?  
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero asperiores neque quasi fuga illo, eius adipisci totam magnam reprehenderit, consequuntur voluptatibus quibusdam vel quisquam voluptatum! Velit nisi aspernatur dolor asperiores?             
            </p>
            </div>
        </article>
    </main>
    <!-- ---------------------FOOTER--------------------------- -->
    <footer>
        <%- include("parcial/footer.ejs")%>
        <!-- <div id="footer"> 
         <div id="redes">
              <a href="/"><img src="/images/futmanager_logo.png" width="120px" alt="Logo"></a>    
               
                 <p><img src="/images/instagram.png" width="20px" height="20px" alt="Instagram" >Instagram</p>
                 <p><img src="/images/linkedin.jpg" width="20px" height="20px"  alt="Linkedin" >Linkedin</p>
                 <p><img src="/images/facebook.png" width="20px" height="20px" alt="Facebook" >Facebook</p>
               </div>
         </div> -->
       </footer>
       </body>
</html>