<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>FutManager</title>
</head>
<body>
    <!-- --------------------HEADER------------------ -->
    <header>
        <%- include("parcial/head.ejs")%>
    <!-- <a href="/"><img src="/images/futmanager_logo.png" alt="Logo"></a>
    <div>
        <nav> 
            <a href="/">Inicio</a>
            <a href="/producto">Jugadores</a>
            <a href="/nosotros">Sobre Nosotros</a>
            <a href="/formulario">Registro</a>
            <a href="/login">Ingresar</a>  
        </nav>
    </div>
    <input class="navegador" type="text" > -->
    </header>
    <main id="catalogo">
            <section class="productos">
                <h2>Nuestros Jugadores</h2>
                <div class="jugadores">
                    <a href="/jugador">
                        <article class="jugador">
                            <div class="detalle-jugador">
                                <img src="/images/ospina.jpg" width="250px" height="330px" alt="ospina">
                                <p class="nombre">Roque</p>
                                <p class="estado">Libre</p>
                                <h4 class="descripcion">Arquero</h4>
                            </div>
                        </article>
                    </a>
                    <a href="/jugador">
                        <article class="jugador">
                            <div class="detalle-jugador">
                                <img src="/images/pogba.jpg" width="250px" height="330px" alt="pogba">
                                <p class="nombre">Cristian</p>
                                <p class="estado">Libre</p>
                                <h4 class="descripcion">Mediocampista</h4>
                            </div>
                        </article>
                    </a>
                    <a href="/jugador">
                        <article class="jugador">
                            <div class="detalle-jugador">
                                <img src="/images/van-dijk.jpg" width="250px" height="330px" alt="van-dijk">
                                <p class="nombre">Ramiro</p>
                                <p class="estado">Libre</p>
                                <h4 class="descripcion">Defensor</h4>
                            </div>
                        </article>
                    </a>
                    <a href="/jugador">
                        <article class="jugador">
                            <div class="detalle-jugador">
                                <img src="/images/kane.jpg" width="250px" height="330px" alt="kane">
                                <p class="nombre">Nehuen</p>
                                <p class="estado">Libre</p>
                                <h4 class="descripcion">Delantero</h4>
                            </div>
                        </article>
                    </a>
                    <a href="/jugador">
                        <article class="jugador">
                            <div class="detalle-jugador">
                                <img src="/images/dibu.jpg" width="250px" height="330px" alt="dibu">
                                <p class="nombre">Emiliano</p>
                                <p class="estado">Libre</p>
                                <h4 class="descripcion">Arquero</h4>
                            </div>
                        </article>
                    </a>
                    <a href="/jugador">
                        <article class="jugador">
                            <div class="detalle-jugador">
                                <img src="/images/roman.jpg" width="250px" height="330px" alt="roman">
                                <p class="nombre">Juan</p>
                                <p class="estado">Libre</p>
                                <h4 class="descripcion">Mediocampista</h4>
                            </div>
                        </article>
                    </a>
                    <a href="/jugador">
                        <article class="jugador">
                            <div class="detalle-jugador">
                                <img src="/images/cuti.jpg" width="250px" height="330px" alt="cuti">
                                <p class="nombre">Ramiro</p>
                                <p class="estado">Libre</p>
                                <h4 class="descripcion">Defensor</h4>
                            </div>
                        </article>
                    </a>
                    <a href="/jugador">
                        <article class="jugador">
                            <div class="detalle-jugador">
                                <img src="/images/mbape.jpg" width="250px" height="330px" alt="mbappe">
                                <p class="nombre">Nehuen</p>
                                <p class="estado">Libre</p>
                                <h4 class="descripcion">Delantero</h4>
                            </div>
                        </article>
                    </a>
                </div>
            </section>
    </main>
        <!-- ---------------------FOOTER--------------------------- -->
       <footer>
        <%- include("parcial/footer.ejs")%>
           <!-- <div id="footer"> 
               <div id="redes">
                   <a href="/"><img src="/images/futmanager_logo.png" width="120px" alt="Logo"></a>    
                   
                 <p><img src="/images/instagram.png" width="20px" height="20px" alt="Instagram" >Instagram</p>
                 <p><img src="/images/linkedin.jpg" width="20px" height="20px"  alt="Linkedin" >Linkedin</p>
                 <p><img src="/images/facebook.png" width="20px" height="20px" alt="Facebook" >Facebook</p>
                </div>
            </div> -->
       </footer>
       </body>
</html>