@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,300&family=Roboto&display=swap');


:root{
    --padding-container: 100px 0;
    --color-title: rgb(0, 0, 0);
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(223, 229, 230)
}


/*------------ HEADER -------------- */
.hero {
    width: 100%;
    height: 100%;
    min-height: 700px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0000008c 0%, #0000008c 100% ), url('../images/imgfondo67.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;

}

.nav__items {
    list-style: none;
}

.buscador {
position: absolute;
    left: 58%;
}

input.src {
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    color: #444;
    border: 3px solid #570000;
    background: rgb(255, 255, 255) url("/images/search.svg")
        no-repeat 9px center;
    width: 100px;
    transition: all .5s;
}

input.src:hover{
    width: 180px;
    background-color: #fff;
    border-color: #570000;
    box-shadow: 0 0 10px #6dcff680;
}



.nav__link {
    margin-left: auto;
    padding: 0%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
 
}

.nav__img {
    display: block;
    width: 30px;
}


/*hero container*/

.hero__container{
    display: grid;
    --pading-container:0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    font-size: 2rem;
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: rgb(20, 141, 240);
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* h4 ultimas noticias despues del header */

.h4noticia{
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin-top: 0px;
}


/* About main*/

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__imgs{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: auto;
}

.about__img {
    width: 150px;
}

/* Knowledge */

.knowledge {
    background-color: #000000;
    background-image: radial-gradient(#b6b6b6 0.5px, transparent 0.5px), radial-gradient(#afafaf 0.5px, #e9e9e9d8 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    text-align: center;
    padding: top 50px;
}

.knowledge__picture{
    max-width: 500px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
}

/*knowledge 2 */

.knowledge2 {
    background-color: #000000;
    background-image: radial-gradient(#b6b6b6 0.5px, transparent 0.5px), radial-gradient(#afafaf 0.5px, #e9e9e9d8 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    margin-top: 50px;
}

.knowledge__container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    text-align: center;
    padding: top 50px;
}

.knowledge__picture2{
    max-width: 500px;
}

.knowledge__paragraph2{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img2{
    width: 100%;
    display: block;
}

/*------------------ FOOTER ------------- */

#footer1 {
    /* display: flex;
    flex-direction: row; */
    background-color: rgb(156, 156, 156);   
    text-align: center;
    text-decoration: underline;
}

#sponsor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


footer {
    /* display: flex;
    flex-direction: row; */
    background-color: rgb(128, 128, 128);   
}

#redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#imagen12{
    width: 200px;
    height: 100px;
}


main .body div{
    margin-left: 300px;
    margin-right: 300px;
    background-color: grey;
    box-shadow: 5px 5px 5px black;
    position: relative;
    top: 30%;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .body div .button{
    font-size: larger;
}
.body div .button:hover{
    background-color: blue;
    color: white;
}
.ingreso{
    padding: 20px;
}


main .body .nosotros{
    margin-left: 200px;
    margin-right: 200px;
    background-color: grey;
    box-shadow: 5px 5px 5px black;
    position: relative;
    top: 10%;
    font-size:x-large;
}

.productos{
    display: block;
    box-sizing: border-box;
    border: solid red 2px;
    width: 90%;
    height: 90%;
}
.jugadores {
    display: flex;
    flex-direction: row;
    background-color: green;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.jugador{
    /* width: 50% ; */
    /* justify-content: center; */
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    /* position: relative; */
    /* padding: 15%; */
    border: solid black 2px;
    
}

/* -----------------JUGADOR-------------- */

.caracteristicas-jugador{
    /* border: solid 2px red; */
    padding: 30px;
    font-size:x-large;
    margin-top: 1em;
    margin-bottom: 1em;
    }
.caracteristicas-jugador ul{
    list-style-type: none
}

#Jugador{
height: 80vh;
}
.jugador-ind{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    /* border: solid red 2px; */
    width: 90%;
    height: 90%;
}
.jugador-foto{
    /* width: 50% ; */
    /* justify-content: center; */
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    /* position: relative; */
    /* padding: 15%; */
    border: solid black 2px;
    margin: 5px;
    padding: 5px;
}
/* ---------------------Jugadores--------------- */

#catalogo{
    height:90%;
}


   form{
    
    padding:2em;
    margin-left:50px;
    margin-right: 50px;
    
   }
    
    form >h2{
        text-align:center;
    } 
    
.row{
    display:flex;
    justify-content:center;
    border:solid rgb(148, 146, 180);
    border-radius: 15px;
    margin-right:150px;
   margin-left:150px;
}
.column{
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items:space-around;
    padding:2em;
   
}
#centrar{
    display: flex;
   
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}
#accion{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding:50px;
    margin: 20px;
   justify-content: center; 
   /* justify-content: space-between; */
   
   
    /* background-color: blue; */
}
#select{
    display: flex;
    flex-direction: column;
    padding-right:40px;
    margin-left: 40px;
}
#textarea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;

}

.text-danger {
    color: red
}



  @media (max-width: 412px) {
    header {
        display: flex;
        flex-direction: column;
        width: 90vw;

    }
    
    header nav a img{
        width: 90vw;
        align-self: center;
    }
    header nav a{
        display: flex;
        flex-direction: column;
       
        margin-right:100px ;

    }
    
     #footer{
        display: flex;
        flex-direction: column;
        align-items: center;

    } 
    
    #redes{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
 }   
}
/*
@media (min-width: 412px )and (max-width:700px){
    
    header {
        display: flex;
        flex-direction: column;
        width: 90vw;

    } 

    header nav a{
        display: flex;
        flex-direction: column;
       
        margin-right:100px ;

    }
    
     #footer{
        display: flex;
        flex-direction: column;
        align-items: center;

    } 
    
    #redes{
        display: flex;
        flex-direction: column;
        justify-content: space-around;    
 }   

}
*/
@media (min-width: 700px ){
    /* header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

       } */
       .nav__menu{
        display: none;
       }

}

