<footer>
  <div id="footer1">
               <h3>Sponsors Oficiales</h3>
   <div id="sponsor">

         
      <a href="https://www.bbva.com.ar/" target="_blank"><p><img src="/images/bbva.png" width="120px" height="50px" alt="bbva" ></p>
      <a href="https://www.gatorade.com/" target="_blank"><p><img src="/images/gatorade.png" width="180px" height="50px"  alt="gatorade" ></p>
      <a href="https://www.adidas.com.ar/" target="_blank"><p><img src="/images/adidas.png" width="110px" height="80px" alt="adidas" ></p>
      <a href="https://www.qatarairways.com/" target="_blank"><p><img src="/images/qatar2.png" width="150px" height="60px" alt="qatar" ></p>
         </div>
   </div>
 </footer>

 <footer>
  <div id="footer"> 
   <div id="redes">
        <a href="/"><img src="/images/futmanager_logo.png" width="120px" alt="Logo"></a>    
         
      <a href="https://www.instagram.com/" target="_blank"><p><img src="/images/instagram.png" width="20px" height="20px" alt="Instagram" >Instagram</p>
      <a href="https://www.linkedin.com/" target="_blank"><p><img src="/images/linkedin.jpg" width="20px" height="20px"  alt="Linkedin" >Linkedin</p>
      <a href="https://www.facebook.com/" target="_blank"><p><img src="/images/facebook.png" width="20px" height="20px" alt="Facebook" >Facebook</p>
         </div>
   </div>
 </footer>